* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f1f1f; /* Dark gray background */
  font-size: larger;
  line-height: 1.6;
  color: #f7f0f0; /* White text color */
}

.lyrics {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: oblique;
  font-size: larger;
  align-items: center;
  color: #66ff66; /* Light green text color */
  columns: 2;
}

.lyrics h3 {
  font-size: x-large;
  color: #fbfcfb; /* Light gray text color */
  letter-spacing: 0.1cm;
}

h2 {
  text-align: center;
  color: #d0fc20; /* Yellow text color */
}

header {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333; /* Dark gray background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 0.001cq;
  background: #181818; /* Dark gray background */
}
